@model AuthService.Web.Models.Auth.ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter your information below and click the Register button to finish.
</p>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Confirmation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="email" placeholder="Email" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <label asp-for="FirstName" class="form-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <label asp-for="LastName" class="form-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                <label asp-for="PhoneNumber" class="form-label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" placeholder="Password" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirm Password" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="ProviderDisplayName" />

            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
